<div class="about-section">
  <h1>Darshan Jewellers (ਖੁਰਦ ਵਾਲੇ)</h1>
  <h5>Since 1952</h5>
  <h5>
    <p>Weddings are a deep-rooted element of our society, and Indian brides are known as symbols of beauty, pride and
      elegance.
      <br>
      India is a vast country with different customs and traditions practiced even within the same state.
      <br>
      Darshan Jewellers

    </p>
  </h5>
</div>

<section class="why-section">
  <div>
    <img class='why-image'
      src="https://images.builderservices.io/s/cdn/v1.0/i/m?url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1511745564573-fec5d8b7e907%3Fcrop%3Dentropy%26cs%3Dtinysrgb%26fit%3Dmax%26fm%3Djpg%26ixid%3DMnw1NTEzfDB8MXxzZWFyY2h8MTN8fGpld2Vscnl8ZW58MHx8fHwxNjMwMTEzMTQ0%26ixlib%3Drb-1.2.1%26q%3D80%26w%3D1000"
      alt="Avatar">
    <div class='why-card'>
      <h1 class="title">Why Darshan Jewellers?</h1>
      <p>
        Darshan Jewellerspresents beautifully crafted fine jewelery demonstrating 65+ years of skilled crystal
        craftsmanship. Easily create a look from day to night with sparkling crystal necklaces and earrings.
        Fine crystal jewelry is a great way to celebrate a special occasion.</p>
    </div>
  </div>
</section>

<div class="owner">
  <div class="owner1"><img class="owner1"
      src="https://firebasestorage.googleapis.com/v0/b/darshan-jewellers-a076c.appspot.com/o/Shop%20details%2FIMG_4514.jpg?alt=media&token=9e8c4ecb-7169-45ca-ad9f-33956b416cdd"
      alt="Avatar">
    <p class="details">Darshan Kumar (Founder,Owner) </p>
  </div>

  <div class="owner2"><img class="owner1"
      src="https://firebasestorage.googleapis.com/v0/b/darshan-jewellers-a076c.appspot.com/o/Shop%20details%2F20190417204845_IMG_1297_Original_Original.jpg?alt=media&token=85be8f5f-3533-435d-be4d-011643e9b1c3"
      alt="Avatar">
    <p class="details1">Parmodh Kumar (Owner) </p>
  </div>

  <div class="owner3"><img class="owner2"
      src="https://firebasestorage.googleapis.com/v0/b/darshan-jewellers-a076c.appspot.com/o/Shop%20details%2F9A234A08-1365-42A8-8B3B-AEB6A304CDE6_Original.jpg?alt=media&token=7c29b191-afa9-4dcf-9305-2a2db52ccf42"
      alt="Avatar" width="280px" height="400px">
    <p class="details2">Abhi Verma (Co-Owner)</p>
  </div>
</div>