<div class="container">
    <iframe class="location"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3431.2968256910426!2d75.82632871488762!3d30.68192359513108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39107b40f206cc95%3A0x6c8119c63f06b34e!2zRGFyc2hhbiBKZXdlbGxlcnMgKOColuCpgeCosOCopiDgqLXgqL7gqLLgqYcp!5e0!3m2!1sen!2sin!4v1638811037451!5m2!1sen!2sin"
        width="750" height="650" style="border:0;" allowfullscreen="" loading="active"></iframe>
    <div class="front">
        <img
            src="https://firebasestorage.googleapis.com/v0/b/darshan-jewellers-a076c.appspot.com/o/Shop%20details%2FB6A40CA8-AD80-4526-BB36-1EAC8D2DB4EE.png?alt=media&token=de425a2b-6f5f-48e6-9bbe-064746be1d74"
            alt="" width="450px" height="650px"></div>
    <div class="card-body">
        <p>Near Grain Market</p>
        <p>Chaura Bazar AHMEDGARH</p>
        <p>Punjab</p>
        <p>Email: Abhiverma872@gmail.com</p>
        <p>Phn. +91 9878822006</p>
    </div>  
</div>