<div class="image">
  <div class="Branding">
    <div id='title'>
      DARSHAN JEWELLERS
      <h4 class="locality">Ahmedgarh</h4>
    </div>
    <div>
      <h3>Since 1952</h3>
      <h5 class="located">(ਖੁਰਦ ਵਾਲੇ)</h5>
    </div>
  </div>
  <div class="btn-grp">
    <button><a href="#pro" style="color:inherit;">See Products..</a></button>
    <button>
      <a style="color:inherit;" href="http://kundanbullion.in/"target="_blank">Live Gold Rates!</a>
    </button>
  </div>

  <div class="centered">
    Are you okay with fashion jewelry you wear forever?<br> You are right here.
    Necklaces, earrings, rings, and all in between<br> day and night,the crystal design is expected to create a
    unique statement.
  </div>

</div>

<div class=" products" id="pro">

  <div class="pro-title">
    <h3 class="detail">Explore Our Collections</h3>
    <h5 class='details'>We love to take pictures and show them to the world....</h5>
  </div>

  <div class='lower-page'>
    <!-- Necklace route -->
    <div>
      <a routerLink="/Necklace" href="#" target="_blank">
        <img class='lower-page-image'
          src="https://storage.googleapis.com/production-bluehost-in-v1-0-7/777/1043777/Emn6LPjK/c2dad25fc12147d982c43c4a4c40c00f"
          alt="Avatar">
      </a>
      <h4>Necklace</h4>
    </div>

    <!-- Ring route  -->
    <div>
      <a routerLink="/ring" href="#" target="_blank"> 
        <img class='lower-page-image'
          src="https://storage.googleapis.com/production-bluehost-in-v1-0-7/777/1043777/Emn6LPjK/d52c096b56ff4d4a853468b38c7c01dd"
          alt="Avatar">
      </a>
      <h4>Ring</h4>
    </div>
    <!-- Chain route -->
    <div>

      <a routerLink="/chain" href="#" target="_blank">
        <img class='lower-page-image'
          src="https://storage.googleapis.com/production-bluehost-in-v1-0-7/777/1043777/Emn6LPjK/2a0c02b9180a4b3aab7c4995c8931b3f"
          alt="Avatar">
      </a>
      <h4>Chain</h4>
    </div>
    <!-- Locket route -->
    <div>

      <a routerLink="/locket" href="#" target="_blank">
        <img class='lower-page-image'
          src="https://firebasestorage.googleapis.com/v0/b/darshan-jewellers-a076c.appspot.com/o/Locket%2FIMG_1909.jpeg?alt=media&token=db6415d4-29ea-4bff-b397-cd08b6474279"
          alt="Avatar">
      </a>
      <h4>Locket</h4>
    </div>
    <!-- Bracelet route -->
    <div>
      <a routerLink="/bracelet" href="#" target="_blank">
        <img class='lower-page-image'
          src="https://storage.googleapis.com/production-bluehost-in-v1-0-7/777/1043777/Emn6LPjK/f2b887c27d7141199847f8657dd9c8ab"
          alt="Avatar">
      </a>
      <h4>Bracelet</h4>
    </div>
    <!-- Bangles route -->
    <div>
      <a routerLink="/bangles" href="#" target="_blank">
        <img class='lower-page-image'
          src="https://firebasestorage.googleapis.com/v0/b/darshan-jewellers-a076c.appspot.com/o/Bangles%2FIMG_0493.jpg?alt=media&token=1aaa08bb-cee4-4074-9e09-940bbfa9ca8f"
          alt="Avatar">
      </a>
      <h4>Bangles</h4>
    </div>
  </div>
</div>
<router-outlet> </router-outlet>
